body {
  height: 100vh;
}

* {
  background-color: black;
  margin: 0
}

.profile-picture {
  height: 200px;
  border: white 1px solid;
}

.letter-color {
  color:wheat;
  padding: 3px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items:center;
  height: 100%;
  justify-content: center;
}

.link {
 color:green;
 padding: 3px;
 text-decoration: none;
}

.liProjects {
  margin: 6px;
}

.link:hover {
  background-color: white;
 }

.order {
  width: 50%;
  padding: 10px;
}

.navContainer {
  display: flex;
  flex-direction: row;

}

.textInfos {
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.descricao {
  margin: 20px 0;
  width: 50%;
}

.icon {
  width: 30%;
}

.icon:hover {
  background-color: white;
}

.liIcon {
  width: 100%;
}

.footerUl {
  display: flex;
}

.footerIcons { 
  width:30%
}

.containDescription {
  display: flex;
 justify-content: center;
 align-items: center;
}