body{ 
    font-family: 'Inconsolata', monospace;
    background-color: #fada95;
}
#sidebar{
    border: 10px solid #000000;
    background-color: #000000;
    text-align: center;
    font-size: 20px;
    position: fixed;
    width:100%;
    z-index: 999;
}
#cabecalho{
    background-image: url("Imagens/sao-bernardo-paisagem.jpg");
    background-position: 0% 10%;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: sandybrown;
    margin-right: 0;
    width: 1371px;
    height: 550px;
}
#tabela{
    max-width: 520px;
    max height: 475px;
    position: relative;
    left:53em;
    top: 3em;
    z-index: 1;
    margin-right: 0;
    font-family: 'Calistoga', cursive;
}
#Pinfo{
    height: 30em;
    text-align: left;
}
#h1h{
    font-size: 300%;
    position: absolute;
    top:40%;
    left:2%;
    white-space: nowrap;
}
header h2{
    padding-left: 80px;
    position: absolute;
    top:60%;
}
section h3{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

#text{
    text-align: left;
    font-size: 18px;
    max-width:60%; 
    padding-bottom: 10px ; 
} 
.box{
    max-width: 50em;
    background-color: seashell
}

#cont{
    position: absolute; 
    max-width: 40%;
    right:0px; 
    top: 580px;
}
aside h3{
   text-align: center;
   padding-bottom: 10px;
}
aside li{
    padding-bottom: 3px;
    font-size: 16px;
}
#cur{
    position: absolute;
    max-width: 40%;
    right: 0px;
    top: 840px;
}   
}
article h3{
    padding-bottom: 10px;
    padding-top: 10px;
}
#rodape{
    border: 10px solid #000000;
    background-color: #000000;
    text-align: center;
    font-size: 20px;
    width:100%;
    color: #FFFFFF;
    position: absolute; 
}
#fot{
    text-align: center;
    font-size: 50px;
}
.dog{
    max-width: 500px;
    width: 500px;
    height:369px;
    align-items:center;
    border: black solid 2px;
}
.boxi{
    display:flex;
    justify-content:space-around; 
    margin-bottom: 10px;
}
